.header {
    padding: 40px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logotype {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    animation-name: logo-appear;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.navigation {
    display: flex;
    align-items: baseline;

    &__menu {
    display: flex;
    margin-right: 56px;
    }

    &__item:not(:last-child) {
    margin-right: 56px;
    }
}
.navigation__link {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.1s linear;
    position: relative;
    
    &:focus,
    &:hover {
    color: $yellow;
    }

    &::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: $yellow;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
    }

    &:focus::after,
    &:hover::after {
        width: 100%;
    }
}
.navigation__optional-menu {
    display: flex;
}
.navigation__option-item:first-child {
    margin-right: 42px;
}
.navigation__option-link {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    
    &:focus .navigation__option-icon,
    &:hover .navigation__option-icon {
        fill: $yellow;
        transform: scale(2);
    }
}
.navigation__option-icon {
    width: 18px;
    height: 18px;
    fill: #fff;
    transition: 0.1s linear;
    cursor: pointer;
}