.hero {
    background-image: linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/bg.jpg);
    background-size: cover;
    padding-top: 248px;
    padding-bottom: 230px;
    
    @media (min-resolution: 192dpi) {
        background-image: linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/bg@2x.jpg);
        }
}
.hero__title-box {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 112px;
}
.hero__title_italic {
    @include font($ff: $second-font, $fs: 72px, $fw: normal);
    color: #fff;
    margin-bottom: 44px;
    letter-spacing: 3px;
}
.hero__title_bold {
    @include font($fs: 150px, $fw: bold);
    color: #fff;
    text-transform: uppercase;
}
.hero__button {
  display: block;
  margin: 0 auto;
  border: solid 3px #fff;
  width: 170px;
  height: 50px;
  padding: 14px;
  @include font($fs: 14px, $fw: bold);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s linear;

  &:focus,
  &:hover {
      color: $red;
      border-color: $red;
    }
}