.service-list {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__item {
      flex: 0 0 380px;
      padding: 10px 10px 10px 80px;
      background-repeat: no-repeat;
      background-position: 20px 10px;
      
      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 80px;
      }
      &_alarm {
        background-image: url(../img/alarm.png);
      }
      &_graph {
        background-image: url(../img/line-graph.png);
      }
      &_comp {
        background-image: url(../img/computer.png);
      }
      &_book {
        background-image: url(../img/book.png);
      }
      &_home {
        background-image: url(../img/home.png);
      }
      &_image {
        background-image: url(../img/image.png);
      }
      &-title {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        color: $title-color;
        text-transform: uppercase;
      }
      &-description {
        font-size: 15px;
        font-family: $p-font;
        color: $text-color;
        line-height: 1.6;
      }
    }
  }