.service-list {
  @extend %justify-around;
  
    &__item {
      flex: 0 0 380px;
      padding: 10px 10px 10px 80px;
      background-repeat: no-repeat;
      background-position: 20px 10px;
      
      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 80px;
      }
      &_alarm {
        background-image: url(../img/alarm.png);
      }
      &_graph {
        background-image: url(../img/line-graph.png);
      }
      &_comp {
        background-image: url(../img/computer.png);
      }
      &_book {
        background-image: url(../img/book.png);
      }
      &_home {
        background-image: url(../img/home.png);
      }
      &_image {
        background-image: url(../img/image.png);
      }
      &-title {
        margin-bottom: 20px;
        @include font($fs: 14px, $fw: bold);
        color: $title-color;
        text-transform: uppercase;
      }
      &-description {
        @include font($ff: $p-font, $fs: 15px, $lh: 1.6);
        color: $text-color;
      }
    }
  }