.section__description {
    display: block;
    margin: 0 auto;
    width: 960px;
    @include font($ff: $p-font, $fs: 15px, $lh: 1.6);
    color: $text-color;
    text-align: center;
    margin-bottom: 90px;
  }