.section__title-box {
    color: $title-color;
    text-align: center;
    margin-bottom: 64px;

    &::after {
      content:'';
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      width: 60px;
      height: 4px;
      background-color: $red;
    }
}
.section__title {
  &_italic {
  display: block;
  @include font($ff: $second-font, $fs: 24px);
  margin-bottom: 22px;
  }
  &_bold {
  display: block;
  @include font($fs: 30px, $fw: bold);
  text-transform: uppercase;
  }
}